<!DOCTYPE html>
<html>
  <head>
    <title>QueryCacheDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <% if current_user? %>
        You are currently signed in as <%= current_user.name %>.
      <% end %>
    </nav>
    <main> <%= yield %> </main>
  </body>
</html>
